body * {
    box-sizing: border-box;
  }
  
  html {
    height: 100%;
  }
  
  body {
    font-family: sans-serif;
    color: white;
    background: url(https://st2.depositphotos.com/4374231/10424/v/950/depositphotos_104240768-stock-illustration-seamless-background-with-cat-paw.jpg) no-repeat;
    background-size: cover;
    height: 100%;
    text-align: center;
  }
  
  .hidden {
    display: none;
  }
  
  .main-box {
    width: 90%;
    height: 75%;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
  }
  
  .puppyPic {
    height: auto;
    width: 50%;
  }
  
  legend {
    font-size: 24px;
  }
  
  fieldset {
    border: none;
  }
  
  .button {
    height: 35px;
    width: 120px;
    text-align: center;
    border-radius: 5px;
    background-color: white;
    font-size: 16px;
    font-family: sans-serif;
  }

  .button:hover {
    cursor: pointer;
  }
  
  .puppy-question {
    padding-left: 50px;
    font-size: 18px;
    text-align: left;
  }
  
  .puppy-answers {
    text-align: left;
    padding-left: 50px;
    font-size: 18px;
    line-height: 140%;
    margin-bottom: 30px;
  }
  
  .button.disabled {
    opacity: 0.50; 
    cursor: not-allowed;
  }
  
  .results-counter {
    font-size: 20px;
    text-align: center;
  }
  
  .all-feedback {
    font-size: 18px;
    margin-top: 10px;
    position: relative;
    line-height: 150%;
  }
  
  .correct-dog {
    height: auto;
    width: 35%;
    margin-top: -15px;
  }
  
  .wrong-answer-picture {
    height: auto;
    width: 30%;
    margin-top: -25px;
  }
  
  #final-correct {
    margin-top: -30px;
  }
  
  .german-sheperd-pic {
    height: auto;
    width: 40%;
  }
  
  .craving {
    font-size: 18px;
  }
  
  #retake {
    height: 35px;
    width: 200px;
    text-align: center;
    border-radius: 5px;
    background-color: white;
    font-size: 16px;
    font-family: sans-serif;
  }
  
  